  /* BODY */

  .main-image{
    margin-top: 180px;
      position: relative;
  }
  .main-image img{
      width: 100%;
  }

  .main-image h1{
      position: absolute;
      left: 20%;
      bottom: 0;
      font-size: 100px;
      border-bottom: 2px solid black;
  }

  .info{
      display: flex;
      margin: 15px 0;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
  }

  .more-info{
      width: 52%;
  }

  .bold-p{
    margin: 15px 0;
      font-weight: bold;
  }
