 /* BODY */

  .main-section{
      width: 100%;
      margin-top: 180px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }


  .main-image{
      width: 40%;
  }
  .main-image img{
    width: 100%;
    }
.category-info{
    align-self: center;
    width: 40%;
    
}
.name-category{
    border-bottom: 2px solid #c5b4a4;
    margin-bottom: 15px;
}

.category-info h1{
    text-transform: capitalize;
    font-size: 55px;
}

.all-products{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product img{
    width: 80%;
}

.product{
    width: 30%;
    text-align: center;
}