*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  a{
    color: black;
    text-decoration: none;
  }
  
  
  
  header{
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .logo{
    margin-left: 50px;
    text-align: center;
    position: relative;
  }
  
  .sub-name{
    position: absolute;
    text-align: center;
    bottom: 3px;
  }
  
  .bold-name{
    font-weight: 900;
    font-size: 85px;
  }
  
  .menu-bar{
    width: 60%;
    align-self: flex-end;
  }
  
  .menu-bar ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
  }
  
  .menu-bar li a{
    color: black;
    font-size: 19px;
  }
  /* BODY */

  .main-section{
    margin-top: 180px;
      display: flex;
  }

  .main-image {
    width: 50%;
    
}
  .main-image img{
      width: 90%;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .item-info{
      width: 60%;
      display: flex;
      flex-direction: column;
  }

  .item-info h1{
      text-transform: uppercase;
      font-size: 55px;
      margin-bottom: 10px;
  }

  .prices{
      display: flex;
      font-size: 25px;
      justify-content: space-between;
  }

  .final-price{
      color: red;
      font-weight: bold;
      margin-right: 20px;
  }
  .fa-heart{
      margin-right: 20px;
  }

  .normal-price{
      font-weight: bold;
      text-decoration: line-through;
      
  }

  .bold-p{
      font-weight: bold;
      margin: 10px 0;
  }

  .send-button{
    width: 25%;
    height: 50px;
    margin: 25px 0;
    border: 2px solid black;
    background-color: white;
    color: black;
    font-weight: bold;
    margin-right: auto;
    margin-left: auto;
    transition: all 1s;
}

.send-button:hover{
  cursor: pointer;
  border: 2px solid white;
  background-color: black;
  color: white;
}