*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    margin: 0 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  a{
    color: black;
    text-decoration: none;
  }
  
  
  
  header{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .logo{
    margin-left: 50px;
    text-align: center;
    position: relative;
  }
  
  .sub-name{
    position: absolute;
    text-align: center;
    bottom: 3px;
  }
  
  .bold-name{
    font-weight: 900;
    font-size: 85px;
  }
  
  .menu-bar{
    width: 60%;
    align-self: flex-end;
  }
  
  .menu-bar ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    
  }
  
  .menu-bar li a{
    color: black;
    font-size: 19px;
  }
  
  .main-image img{
    width: 100%;
  }

  /* BODY */

  .title{
      height: 200px;
      width: 75%;
      display: block;
      position: relative;
      float: right;
      margin: 50px 0;
      background-color: #c5b4a4;
      font-size: 45px;
  }
  .title h1{
      position: absolute;
      left: -25%;
  }

  .allProducts{
      clear: both;
  }

  .category{
      margin-top: 20px;
  }

  .category h3 {
      width: 50%;
      border-bottom: 4px solid #c5b4a4;
  }
.allItems{
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    justify-content: space-evenly;
}
.item{
    width: 30%;
    text-align: center;
}

.item h5{
    margin: 10px 0;
}

.item img{
    width: 90%;
}

.button-more{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  order: 1;
  width: 13%;
  height: 20px;
  border-radius: 7px;
  margin-top: 20px;
  background-color: black;
  color: white;
  outline: none;
  border: none;
  transition: all 1s;
}

.button-more:hover{
  background-color: #c5b4a4;
  color: black;
}

.more{
  display: none;
}
