<!DOCTYPE html>
<html lang="en">
<!-- HEAD -->
<%- include('partials/head', {title: title }) %>

    <body>
        <!-- HEADER -->
        <%- include('partials/headNavbar') %>
            <div class="main-section">
                <div class="main-image">
                    <img src="/images/mainAbout.jpeg" alt="">
                    <h1>SOBRE NOSOTROS</h1>
                </div>
                <div class="info">
                    <div class="more-info">
                        <p class="bold-p">¿Quienes somos?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quaerat quos non optio,
                            iure reprehenderit fugiat veritatis maxime iusto vitae error dolores quidem quas debitis.
                            Delectus praesentium consectetur dolor cupiditate.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio est error perferendis quam
                            ipsum quibusdam consectetur itaque doloribus reprehenderit praesentium non corrupti,
                            doloremque quos earum, veritatis veniam quae? Possimus, dolores?
                        </p>
                    </div>
                    <div class="more-info">
                        <p class="bold-p">¿Que hacemos?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quaerat quos non optio,
                            iure reprehenderit fugiat veritatis maxime iusto vitae error dolores quidem quas debitis.
                            Delectus praesentium consectetur dolor cupiditate.
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio est error perferendis quam
                            ipsum quibusdam consectetur itaque doloribus reprehenderit praesentium non corrupti,
                            doloremque quos earum, veritatis veniam quae? Possimus, dolores?
                        </p>
                    </div>
                </div>
            </div>

    </body>
    <script src="/javascripts/botIntegration.js" type="text/javascript" defer></script>
</html>