<!DOCTYPE html>
<html>
<!-- HEAD -->
<%- include('partials/head', {title: title }) %>
  <body>
    <!-- HEADER -->
    <%- include('partials/headNavbar') %>
      <section class="main-image">
        <img src="/images/mainHome.jpg" alt="">
      </section>
      <section class="categories">
        <div class="category">
          <a href="/category/sillas">
            <img src="/images/silla.png" alt="">
            <p>SILLAS</p>
          </a>
        </div>
        <div class="category">
          <a href="/category/mesas">
            <img src="/images/mesa.png" alt="">
            <p>MESAS</p>
          </a>
        </div>
        <div class="category">
          <a href="/category/sillones">
            <img src="/images/sillon.png" alt="">
            <p>SILLONES</p>
          </a>
        </div>
        <div class="category">
          <a href="/category/lamparas">
            <img src="/images/lampara.png" alt="">
            <p>LAMPARA</p>
          </a>
        </div>
      </section>
      <section class="about-us">
        <div class="info">
          <h4>ABOUT US</h4>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas quos delectus neque ullam architecto.
            Et,
            aut culpa unde accusantium eos sapiente, modi nihil consectetur tenetur quam facilis. Debitis, porro
            tempore!
          </p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore hic quia enim impedit laudantium soluta
            voluptatum. Dolore numquam facere non inventore. Quis, delectus provident beatae perferendis sunt illum
            similique? Eum.</p>
            
          <a href="/about-us">MORE INFO</a>
        </div>
        <img src="images/aboutUs.jpeg" alt="">

      </section>
  </body>

</html>